@model CarrinhoCompraViewModel

<div class ="Container">
    <div class ="row">

        <img src ="~/images/carrinho.png" />

        <div>
            <h4>Seu carrinho de compras: </h4>
        </div>

        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Amigurumi</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Subtotal</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Amigurumi.Nome</td>
                        <td class="text-right">@item.Amigurumi.Preco.ToString("c")</td>

                        <td class="text-right">
                            @((item.Quantidade * item.Amigurumi.Preco).ToString("c"))
                        </td>

                        <td>
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" asp-route-amigurumiId="@item.Amigurumi.AmigurumiId"><img src="~/images/lixeira.jpeg"/>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CarrinhoCompraTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Amigurumi" asp-action="List">Continuar Comprando</a>
            </div>

        </div>

    </div>

</div>