@model MagnificoPonto.Models.ShoppingCart

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Produtos</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>
    <main>
        <div><span><br /><br /><br /><br /></span></div>

        <table class="table">
            <thead>
                <tr class="text-center align-middle">
                    <th>Amigurumi</th>
                    <th>Nome do produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody class="text-center align-middle">
                @{
                    decimal total = 0;
                    if (Model.CartItems != null)
                    {
                        foreach (var cartItem in Model.CartItems)
                        {
                            <tr>
                                <td><img src="~/Amigurumis/@(cartItem.Product.ImageFileName)" width="100" /></td>
                                <td>@cartItem.Product.Nome</td>
                                <td>@cartItem.Quantity</td>
                                <td>@cartItem.Product.Preco</td>
                                <td>@(cartItem.Quantity * cartItem.Product.Preco)</td>
                                <td>
                                    <form asp-action="Delete" method="post">
                                        <button type="submit" class="btn btn-danger">Deletar</button>
                                        <input type="hidden" id="cartItemId" name="cartItemId" value="@cartItem.CartItemId" />
                                    </form>
                                </td>
                            </tr>
                            total += cartItem.Quantity * cartItem.Product.Preco;
                        }
                    }
                }
            </tbody>
        </table>


        <form method="post" action="Payment/CreateCheckoutSession">
            <div class="text-end">
                <label for="name">Total:</label>
                <p id="total">@total</p>
                <input type="hidden" id="amount" name="amount" value="@total" />
                <input type="hidden" id="shoppingCartId" name="shoppingCartId" value="@Model.ShoppingCartId" />
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <a class="btn btn-primary btn-lg rounded-pill mt-3" asp-controller="VendaProdutos" asp-action="ListaProdutos">Continuar comprando</a>
                    </div>

                    <div>
                        <a class="btn btn-success btn-lg rounded-pill mt-3" asp-controller="FormularioEntregas" asp-action="Create">Inserir dados para entrega</a>
                    </div>
                </div>

                <div class="col-md-6">
                    @if (ViewBag.Result != null)
                    {
                        <div>
                            @if (ViewBag.Result != null)
                            {
                                
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Serviço</th>
                                                <th>Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var pair in ViewBag.Result)
                                            {
                                                <tr>
                                                    <td><input type="radio" name="service" value="@pair["Preço"]" /></td>
                                                    <td>@pair["Serviço"]</td>
                                                    <td>@pair["Preço"]</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                
                            }
                        </div>
                    }
                </div>
            </div>

            

            <button class="btn custom-btn cart-btn rounded-pill mt-3" type="submit">Finalizar pedido</button>
        </form>        


    </main>

    <script>
        var radios = document.getElementsByName('service');

        var baseValueElement = document.getElementById('total');
        var baseValue = parseFloat(baseValueElement.innerText);

        var amountInput = document.getElementById('amount');

        var previousOptionValue = 0;

        for (var i = 0; i < radios.length; i++) {
            radios[i].addEventListener('change', function () {
                var optionValue = parseFloat(this.value);

                if (isNaN(optionValue)) {
                    console.error('Invalid option value:', this.value);
                    return;
                }

                var total = baseValue - previousOptionValue + optionValue;

                baseValueElement.innerText = total.toFixed(2);

                amountInput.value = total.toFixed(2);

                previousOptionValue = optionValue;

                baseValue = total;
            });
        }
    </script>
   

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>

</html>

