@model MagnificoPonto.Models.ShoppingCart

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Produtos</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>
    <main>

        <h1>Carrinho de compras</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome do produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal total = 0;
                    if (Model.CartItems != null)
                    {
                        foreach (var cartItem in Model.CartItems)
                        {
                            <tr>
                                <td>@cartItem.Product.Nome</td>
                                <td>@cartItem.Quantity</td>
                                <td>@cartItem.Product.Preco</td>
                                <td>@(cartItem.Quantity * cartItem.Product.Preco)</td>
                            </tr>
                            total += cartItem.Quantity * cartItem.Product.Preco;
                        }
                    }
                }
            </tbody>
        </table>

        <form method="post" action="Payment/CreateCheckoutSession">
            <div>
                <label for="name">Total:</label>
                <p>@total</p>
                <input type="hidden" id="amount" name="amount" value="@total" />
                <input type="hidden" id="shoppingCartId" name="shoppingCartId" value="@Model.ShoppingCartId" />
            </div>

            <button class="btn custom-btn cart-btn" type="submit">Checkout</button>
        </form>


    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>

</html>

