@model IEnumerable<MagnificoPonto.Models.ProdutoModel>


@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>   
        @* <section class="slick-slideshow">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="rounded float-end" src="~/front/images\slideshow\Boneca Margarida 2.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded float-end" src="~/front/images\slideshow\mobile.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="rounded float-end" src="~/front/images\slideshow\mobile.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section> *@

        @* <section class="slick-slideshow">

            <div class="carousel-item">
                <img src="~/front/images\slideshow\Boneca Margarida 2.jpg" class="rounded float-end" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="slick-title" style="color:#E6A376">Bonecas</h1>>
                    <p class="lead text-white mt-lg-3 mb-lg-5">De princesas encantadoras a adoráveis personagens, nossas bonecas amigurumi são perfeitas para brincar e colecionar.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/front/images\slideshow\mobile.jpg" class="rounded float-end" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="slick-title" style="color:#E6A376">Móbiles de berço</h1>
                    <p class="lead text-white mt-lg-3 mb-lg-5">Transforme o quarto do seu bebê em um oásis de calma e diversão com nossos móbiles de berço feitos à mão, cheios de cores e formas cativantes.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/front/images\slideshow\mobile.jpg" class="rounded float-end" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="slick-title" style="color:#E6A376">Móbiles de berço</h1>
                    <p class="lead text-white mt-lg-3 mb-lg-5">Transforme o quarto do seu bebê em um oásis de calma e diversão com nossos móbiles de berço feitos à mão, cheios de cores e formas cativantes.</p>
                </div>
            </div>
        </section> *@

        <section class="slick-slideshow">
            <div class="slick-custom">
                <img src="~/front/images\slideshow\Boneca Margarida 2.jpg" class="rounded float-end" alt="">
                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Bonecas</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">De princesas encantadoras a adoráveis personagens, nossas bonecas amigurumi são perfeitas para brincar e colecionar.</p>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="~/front/images\slideshow\mobile.jpg" class="rounded float-end" alt="">
                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Móbiles de berço</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Transforme o quarto do seu bebê em um oásis de calma e diversão com nossos móbiles de berço feitos à mão, cheios de cores e formas cativantes.</p>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="~/front/images\slideshow\portamaternidade.png" class="rounded float-end" alt="">
                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Porta maternidade</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Celebre a chegada de um novo membro da família com nossos adoráveis enfeites de porta maternidade, feitos com amor e cuidado.</p>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="~/front/images\slideshow\naninhachocalho.jpeg" class="rounded float-end" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Naninhas e Chocalhos</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Estimule os sentidos do seu bebê com nossos chocalhos macios e aconchegantes naninhas, projetados para confortar e entreter.</p>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* <div class="slick-custom">
                <img src="~/front/images\slideshow\urso.jpg" class="rounded float-end" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Ursos</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Abraçáveis, fofos e irresistíveis, nossos ursos amigurumis são companheiros leais para qualquer idade.</p>

                                <a href="about.html" class="btn custom-btn">Leia mais sobre nós</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="~/front/images\slideshow\bichinhos.jpeg" class="rounded float-end" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Bichinhos </h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">De pequenos pássaros a criaturas exóticas, nossos amigurumis de animais são repletos de personalidade e charme.</p>

                                <a href="about.html" class="btn custom-btn">Leia mais sobre nós</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="~/front/images\slideshow\Outros.jpeg" class="rounded float-end" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title" style="color:#E6A376">Outros</h1>
                                <p class="lead text-white mt-lg-3 mb-lg-5">Porta retratos, quadros e muito mais.</p>
                                <a href="about.html" class="btn custom-btn">Leia mais sobre nós</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
        </section>

        <section class="about section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-5">Comece com um <span>Pouco </span> de fofura</h2>
                    </div>

                    <div class="col-lg-2 col-12 mt-auto mb-auto">
                        <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">O que fazemos</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">Nossa missão</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Como fazemos</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-10 col-12">
                        <div class="tab-content mt-2" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="~/front/images/slideshow/OQueFazemos.jpeg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">Amigurumis... Ou seriam criaturas mágicas?</h4>
                                            <p>A Magnífico Ponto dedica-se à arte dos amigurumis.</p>
                                            <p>Amigurumis são bonecos feitos em crochê ou tricô, uma técnica japonesa que conquistou corações em todo o mundo.</p>

                                            <div class="mt-2 mt-lg-auto">
                                                <a asp-controller="Home" asp-action="Sobre" class="custom-link mb-2">
                                                    Quer saber mais sobre nós?
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="~/front/images/slideshow/EncantarClientinhos.jpeg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">Encantar clientes e clientinhos</h4>

                                            <p>Nossos produtos são concebidos com dedicação e são voltados para o público materno/infantil.</p>
                                            <p>Por trás de cada peça está uma equipe de artesãs composta por mãe e filha, apaixonadas tanto pela arte da criação quanto pela jornada da maternidade e pela cumplicidade que ela proporciona nesse vínculo inquebrável.</p>
                                            <p>Nossa missão é encantar mamães e bebês</p>

                                            <div class="mt-2 mt-lg-auto">
                                                <a asp-controller="Contatos" asp-action="Create" class="custom-link mb-2">
                                                    Converse conosco e peça seu produto encantador.
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="~/front/images/slideshow/ComAlegriaESeguranca.jpeg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">Com alegria e segurança</h4>

                                            <p>Todo esse carinho transborda em cada ponto de crochê e alcança o lar de nossos clientes.</p>
                                            <p>A alegria que sentimos ao confeccionar cada peça é compartilhada do outro lado, e enquanto cada detalhe é cuidadosamente elaborado, não é exagero dizer que desejamos que seu bebê construa muitas lembranças com o amigurumi que está prestes a receber.</p>
                                            <p>Visualizamos cada abraço e elaboramos nossos produtos de forma a garantir a fofura e a segurança necessárias para que eles sejam abraçados muitas e muitas vezes.</p>
                                            <p>Explore nossa coleção e deixe-se encantar.</p>

                                            <div class="mt-2 mt-lg-auto">
                                                <a asp-controller="VendaProdutos" asp-action="ListaProdutos" class="custom-link mb-2">
                                                    Clique aqui e se encante!
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="featured-product section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-5">Produtos em Destaque</h2>
                    </div>



                    @foreach (var item in Model.OrderByDescending(x => x.Id).Take(3))
                    {
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a asp-controller="VendaProdutos" asp-action="InfoProdutos" asp-route-id="@item.Id">
                                    <img src="/Amigurumis/@Html.DisplayFor(modelItem => item.ImageFileName)" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">Novos Produtos</span>                                    
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a asp-controller="VendaProdutos" asp-action="InfoProdutos" asp-route-id="@item.Id" class="product-title-link">@Html.DisplayFor(modelItem => item.Nome)</a>
                                        </h5>
                                        <a class="btn btn-success btn-sm" asp-action="InfoProdutos" asp-route-id="@item.Id">Ver detalhes</a>
                                    </div>
                                    <small class="product-price text-muted ms-auto">@Html.DisplayFor(modelItem => item.Preco)</small>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-12 text-center">
                        <a  class="view-all" asp-controller="VendaProdutos" asp-action="ListaProdutos">Visualizar mais produtos</a>
                    </div>
                    

                </div>
            </div>
        </section>

    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>
</html>