@model IEnumerable<MagnificoPonto.Models.VendaProdutosModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Relatório de pedidos</h1>

<p>
    <a asp-action="Create">Inserir pedido externo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personalizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personalizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Carrinho de compras</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes de pedidos</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir pedidos</a>
            </td>
        </tr>
}
    </tbody>
</table>
