@model MagnificoPonto.Models.ProdutoModel
@*Venda*@

@{
    ViewData["Title"] = "Details";
}

<h1>Informações</h1>



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tooplate's Little Fashion - Product Detail</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">

</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>   

        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary">@Html.DisplayFor(model => model.Nome)</span>
                            <span class="d-block text-dark">Informações</span>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="product-detail section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <div class="product-thumb">
                            <img src="~/images/Girafa.jpg" class="img-fluid product-image" alt="">
                        </div>

                        
                        <br />
                        

                        <div class="product-thumb">
                            <embed src="~/corescatalogo/corescatalogo.pdf" type="application/pdf" width="625px" height="550px">                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="product-info d-flex">
                            <div>
                                <h2 class="product-title mb-0">@Html.DisplayFor(model => model.Nome)</h2>

                                <p class="product-p">Feito artesanalmente, com amor!</p>
                            </div>

                            <small class="product-price text-muted ms-auto mt-auto mb-5">@Html.DisplayFor(model => model.Preco)</small>
                        </div>

                        <div class="product-description">

                            <strong class="d-block mt-4 mb-2">Descrição</strong>

                            <p class="lead mb-5">@Html.DisplayFor(model => model.Descrição)</p>
                        </div>

                        <div class="product-cart-thumb row">
                            <div class="col-lg-6 col-12">

                                <select class="form-select cart-form-select" id="inputGroupSelect01">
                                    <option selected>Quantidade</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                                <button type="submit" class="btn custom-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cart-modal">Adicionar ao carrinho</button>
                            </div>

                            <div class="form-group">
                                <label class="control-label my-3">
                                    Selecione as cores para o seu amigurumi. Ex.: Corpo(8176), Lacinho(5210).
                                    Informe se que adicionar: laço, gravata, nome bordado(sujeito a execução caso couber)
                                    Partes não informadas seguirão a cor do modelo na foto.
                                </label>
                                <textarea class="form-control" rows="4"></textarea>
                                
                            </div>                             
                         

                            
                            <p>
                            <button type="submit" class="btn product-additional-link" data-bs-toggle="modal" data-bs-target="#myModal">Calcule a entrega</button>

                            <button type="submit" class="btn product-additional-link">Métodos de pagamento</button>

                            @if (TempData["Result"] != null)
                            {
                            <p>The result is: @TempData["Result"]</p>
                            }
                            </p>
                            

                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="related-product section-padding border-top">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h3 class="mb-5">Você também pode gostar: </h3>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="~/images/Girafa.jpg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert me-auto">New arrival</span>

                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">@Html.DisplayFor(model => model.Nome)</a>
                                    </h5>

                                    <p class="product-p"><!--Original package design from house--></p>
                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">@Html.DisplayFor(model => model.Preco)</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="~/images/Capa.jpg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert">Low Price</span>

                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">@Html.DisplayFor(model => model.Nome)</a>
                                    </h5>

                                    <p class="product-p"><!--Costume package--></p>
                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">@Html.DisplayFor(model => model.Preco)</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="~/images/Macaco.jpg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="product-detail.html" class="product-title-link">@Html.DisplayFor(model => model.Nome)</a>
                                    </h5>

                                    <p class="product-p"><!--Nature made another world--></p>
                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">@Html.DisplayFor(model => model.Preco)</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>


    <!-- DELIVERY MODAL -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Calcule a entrega</h4>
                </div>
                <div class="modal-body">
                    <form action="/ListarProdutos/Calculate" method="post">
                        <input type="text" id="deliveryInput" name="cepDestino" placeholder="Digite o CEP">
                        <input type="hidden" name="id" value="@Model.Id">
                        <button type="submit">Calcular</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                </div>
            </div>


        </div>
    </div>


    <!-- CART MODAL -->
    <div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                            <img src="~/images/Girafa.jpg" class="img-fluid product-image" alt="">
                        </div>

                        <div class="col-lg-6 col-12 mt-3 mt-lg-0">
                            <h3 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(model => model.Nome)</h3>

                            <p class="product-price text-muted mt-3">@Html.DisplayFor(model => model.Preco)</p>

                            <p class="product-p">Quatidade: <span class="ms-1">A definir</span></p>

                            <p class="product-p">Cor: <span class="ms-1">@Html.DisplayFor(model => model.Cor)</span></p>

                            <p class="product-p pb-3">Tamanho: <span class="ms-1">@Html.DisplayFor(model => model.Tamanho)</span></p>

                            <div class="border-top mt-4 pt-3">
                                <p class="product-p"><strong>Total: <span class="ms-1">(@Html.DisplayFor(model => model.Preco) * Quantidade)</span></strong></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row w-50">
                        <button type="button" class="btn custom-btn cart-btn ms-lg-4">Adicionar ao carrinho</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="~/front/js/jquery.min.js"></script>
    <script src="~/front/js/bootstrap.bundle.min.js"></script>
    <script src="~/front/js/Headroom.js"></script>
    <script src="~/front/js/jQuery.headroom.js"></script>
    <script src="~/front/js/slick.min.js"></script>
    <script src="~/front/js/custom.js"></script>

</body>
</html>




@*
<div>
    <h4>Dados do produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoConfeccao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoConfeccao) dias úteis
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProntaEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProntaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Adicionar ao carrinho</a>
    <a class="btn btn-secondary" asp-controller="ListarProdutos" asp-action="ListaProdutos">Retornar para a lista de produtos</a>
</div>

*@