@model MagnificoPonto.Models.Amigurumi

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Amigruumi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagemThumbnailUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmigurumiLancamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmigurumiLancamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoConfec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoConfec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AmigurumiId">Edit</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>