@model MagnificoPonto.Models.RelatorioVendasModel

@{
    ViewData["Title"] = "Details";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magnífico Ponto - Produtos</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/front/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/front/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/front/css/slick.css" />

    <link href="~/front/css/magnifico-ponto.css" rel="stylesheet">
</head>

<body>

<h1>Details</h1>



<div>
    <h4>RelatorioVendasModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlataformaVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlataformaVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amigurumi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amigurumi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoConfeccao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoConfeccao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personalizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personalizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.RelatorioVendasModelId">Editar</a> |
        <a class="btn btn-secondary" asp-action="Index">Retornar para o relatório de vendas</a>
</div>


        </body>

</html>